h1, h2{
    text-align: center;
    color: red;
}
h3{
    text-align: center;
    color: blue;
}
ul{
    border: 0.1px solid;
} 
body{
    background: url(/assets/mountain-6867144_1920.jpg);
}
#TR{
    text-align: center;
    color: black;
}
a{
    color: black;
    padding: 40px;
    text-align: center;
}
#M{
    position: absolute;
    top: 25%;
}
#I{
    position: absolute;
    top: 25%;
    left: 42%;
}
#B{
    position: absolute;
    top: 25%;
    left: 75%;
}
#T{
    position: absolute;
    top: 45%;
}
#P{
    position: absolute;
    top: 45%;
    left: 43%;
}
#C{
    position: absolute;
    top: 45%;
    left: 75%;
}
#L{
    position: absolute;
    top: 60%;
}
#CO{
    position: absolute;
    top: 60%;
    left: 44%;
}
#TA{
    position: absolute;
    top: 60%;
    left: 24%;
}
#S{
    position: absolute;
    top: 60%;
    left: 75%;
}
#NBP{
    position: absolute;
    top: 60%;
    left: 58%;
}
#IH{
    position: absolute;
    top: 45%;
    left: 20%;
}
#BOI{
    position: absolute;
    top: 25%;
    left: 20%;
}
